body{
  font-family: sans-serif;
}
.Header h1{
  margin:0;
}
.Navigation ul{
  list-style: none;
  padding: 10px;
  width: 95%;
  display: inline-flex;
  background-color: blue;
}
.Navigation a{
  text-decoration: none;
  margin-right: 20px;
  color: white;
}
.CitySearch input{
  margin: 0 10px 0 5px;
}