body{
  font-family: sans-serif;
  padding: 10px;
}
.Header h1{
  margin:0;
}
.Navigation ul{
  list-style: none;
  padding: 10px;
  width: 95%;
  display: inline-flex;
  background-color: blue;
}
.Navigation a{
  text-decoration: none;
  margin-right: 20px;
  color: white;
}
.CitySearch input{
  margin: 0 10px 0 5px;
}
#days{
  display: flex;
}
.OneDay, #today {
  background-color: #daedf4;
  border: 1px solid blue;
  padding: 10px;
  margin-right: 10px;
  text-align: center;
}