body{
  font-family: sans-serif;
  padding: 10px;
  background-color: #eeeeee;
}
.Header h1{
  margin:10px;
  color:blue;
  text-align: center;
}
.Navigation ul{
  list-style: none;
  padding: 10px;
  width: 95%;
  display: inline-flex;
  background-color: blue;
  margin:0;
}
.Navigation a{
  text-decoration: none;
  margin-right: 20px;
  color: white;
}
.Navigation a:hover{
  color: lightblue;
}
.CitySearch{
  background-color: #ddddff;
  border: 2px solid blue;
  padding: 20px;
  width: 90%;
}
.CitySearch label{
  color: blue;
  font-size: 1.2em;
}
.CitySearch input{
  margin: 0 20px 0 5px;
  font-size: 1.1em;
}
.CitySearch button{
  background-color: #daedf4;
  color: blue;
  border: 2px solid blue;
  border-radius: 10px;
  padding: 10px;
  font-size: 1.1em;
  font-weight: bold;
}
#days{
  display: flex;
}
.OneDay, #today {
  background-color: #daedf4;
  border: 1px solid blue;
  padding: 10px;
  margin-right: 10px;
  text-align: center;
}

.OneDay p, #today p {
  margin: 15px;
}

#today{
  width:50%;
}

.date {
  font-size: 1.7em;
  font-weight: bold;
}

.current{
  color: blue;
  font-size: 3em;
  font-weight: bold;
}

.high{
  color: blue;
  font-size: 2.2em;
 }

.low{
  color: blue;
  font-size: 1.3em;
}

.condition{
  font-size: 1.3em;
}